<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container w-50 p-3">
    <h1 class="display-5">Add Menu</h1>

    <form action="#" th:action="@{/menu/add}" th:object="${menuDto}" method="POST">

        <div class="mb-3">
            <label for="inputName">Name</label>
            <input id="inputName" type="text" class="form-control"
                   th:field="*{name}" >
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
            <label for="inputPrice">Price</label>
            <input id="inputPrice" type="text" class="form-control"
                   th:field="*{price}">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}"
                 th:errors="*{price}"></div>
        </div>
        <div class="mb-3">
            <label for="inputCategory">Category</label>
            <select id="inputCategory" class="form-select" th:field="*{category}">
                <option value="Appetizer" selected>Appetizer</option>
                <option value="Main Course">Main Course</option>
                <option value="Dessert">Dessert</option>
            </select>
            <div class="alert alert-warning"
                 th:if="${#fields.hasErrors('category')}"
                 th:errors="*{category}"></div>
        </div>
        <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>